# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Packaging files
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt

# Virtual environments
.venv/
env/
venv/

# Testing and caching
.cache/
valueFunctions/

# Jupyter notebook metadata
.ipynb_checkpoints/

# VS Code configuration files
.vscode/

# Local environment variables
.env
